name: flutter_application_1
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  google_maps_flutter: ^2.1.6  # For displaying Google Maps
  location: ^7.0.0             # For accessing user location
  geolocator: ^9.0.2           # For calculating distances and routes
  flutter_datetime_picker: ^1.5.1  # For date filter functionality
  cupertino_icons: ^1.0.8  # iOS style icons

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
